.image-movie-card {
  max-width: 1200px;
  max-height: 700px;
}

.movie-page-container {
  margin-bottom: 10px;
}

.movie-card-container {
  padding: 51px;
  text-align: center;
  display: block;  
  height: 395px;
  margin-top: 12px;
  margin-bottom: 150px;
  width: '100&';
  float: left;
}

.movie-page-title{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 500;
}

.movie-page-overview{
  margin: 20px;
  text-align: center;
}

.movie-page-buttons{
  display: inline-block;
  margin-bottom: 40px;
}

.container {
  text-align: center;
  display: block;  
  height: 375px;
  margin-left: 75px;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 220px;
  float: left;
}

* {
  font-size: small;
  font-family: 'Roboto';
  word-spacing: 2px;
  color: 'white';
}

.custom-search-input .ant-input {
  border: none;
  font-size: 7px; 
  height: 17px; 
  margin-top: 0px;
  border-radius: 0;
}

body {
  background: black;
  color: white;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 15px;
}

h1, h2, h3, h5 {
  font-weight: bold;
  margin: 20px;
  color: white;
}

p {
  margin: 10px;
}

button:hover {
  color: white;
}

.Header {
  background: black;
  color: white;
  font-size: small; 
  font-weight: bold;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  margin: 0px;
}

.Header-link {
 margin: 0;
 font-size: 11px !important;
}

.Header-title {
  margin: 0;
  font-weight: bold;
  font-size: 11px !important; 
 }

.Header-link:hover {
  color: white;
}

.Footer {
  background:black;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0; 
  width: 100%;
  height: 30px;
  font-size: small;
  font-weight: bold;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

.drawer-title, .settings-drawer-title {
  font-size: small;
  font-weight: bold;
  color: white;
}

.Login {
  text-align: center;
  margin-top: 50px;
}

.ant-pagination-options-size-changer {
  display: none;
}

/* .custom-pagination .ant-pagination-item-link[title='1'] {
  background-color: 'black'; 
  color: 'white'; 
  border-radius: '0px';
  /* padding: 8px 16px; 
  bottom: '55px';
} */

/* .ant-menu-item-link {
  border-bottom-color: 'lightgray'
} */

#components-dropdown-demo-arrow .ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}

.ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 8px;
}

#ul.ant-card-actions {
  background-color: black !important;
}

.custom-icon-button {
  background-color: black !important;
}

.card-title {
  max-height: 2.5em; 
  overflow: hidden;
  line-height: 1;
  margin: 0;
  color: white;
}
